body{
    background-color:rgb(95, 158, 160);
}

header{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    color: blue;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu lu{

    padding: 0;
}

.menu li {
    background-color: black;
    background-position:center;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    
}