body{
    background-color:rgb(95, 158, 160);
}

header{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    width: 500px;
    padding-top: 0cm 0cm 0cm 0cm;
    margin: 100px;
    text-align: center;
}

.menu{
    color: blue;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu lu{
    padding: 0;
}

.menu li {
    background-color: rgba(124, 218, 17, 0.701);
    width: 250px;
    padding: 0.9px 15px 1px 55px;
    margin: 5px 5px 5px 5px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(203, 197, 119);
    font-display: 10px;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(137, 43, 226, 0.153);
    width: 100px;
    height: 10px;
    text-align:center;
    padding: 30px;
}

nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 255, 0.195);
    width: 130px;
    height: 40px;
    text-align: center;
    padding: 10px;
}
section{
    font-size:smaller;
}

p{
    color: rgba(127, 255, 212, 0.719)
    
}